/* Violets */
$ultra-violet: #604c8d;
$kimberly: #8070a4;
$amethyst-smoke: #A094BB;
$lavender-gray: #bfb6d1;
$mischka: #dfdbe8;

/* Reds */
$cinnabar: #e13c33;
$terracotta: #e96d66;
$sea-pink: #f09d99;
$azalea: #f8cecc;

/* Grays */
$concrete: #f2f2f2;